<nav class="navbar navbar-expand-sm navbar-dark bg-dark mb-3">
  <a class="navbar-brand" href="/">News Headlines</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
    aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link" href="/">Home</a>
      <a class="nav-item nav-link" href="/scrape" id="scrape">Scrape</a>
      <a class="nav-item nav-link" href="/commented">Commented</a>
    </div>
    <div class="navbar-nav ml-auto">
      <a class="nav-item nav-link text-primary" href="https://www.eetimes.com/" target="_blank">EE Times</a>
    </div>
  </div>
</nav>
