#wrapper {
    margin: 50px;
}

.jumbotron {
    text-align: center;
    background-color: salmon;
}

img {
    display: inline-block;
    vertical-align: middle;
    border: none;
    overflow: hidden;
    height: auto;
    width: 28%;
}

.title, .title2 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

body {
    background: salmon;
}

.title2 {
    text-align: center;
}
